@import url(./reset.css);

*{
  box-sizing: border-box;
}

body{
  font-family: 微軟正黑體;
}

/* 共用h2設定 */
h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #1736DC;
  text-align: center;
  margin: 130px 0 48px;
}

.wrap{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 3px 2px rgb(0 0 0 / 20%);
}

.header{
  max-width: 1024px;
  width: 100%;
  height: 500px;
  background-position:0 55%;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

/* 運用偽元素製作空白區塊，再以clip-path語法裁切可視區域*/
.header::after{
  position: absolute;
  content: '';
  width:100%;
  height: 50%;
  background-color: #FAFAFA;
  /* clip-path似乎會有1px與父層間隙而有類似邊框效果，設定-1px推移取消 */
  bottom: -1px;
  clip-path: polygon(100% 100%,100% 100%,0% 100%,20% 50%) ;
}

@media screen and (max-width:1024px){
  .header::after{
    clip-path: polygon(100% 100%,100% 100%,0% 100%,50% 70%) ;
  }
}

.header .personal{
  position: absolute;
  top: 55%;
  left: 135px;
  left: 12%;
  text-align: center;
  z-index: 10;
}

@media screen and (max-width:1024px){
  .header .personal{
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header .personal img{
  width: 151px;
  height: 151px;
  border-radius: 50%;
  margin-bottom: 11px;
}

.header .personal h1{
  line-height: 56px;
  font-size: 42px;
  margin-bottom: 9px;
}

.header .personal p{
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  font-weight: bold;
  margin-bottom: 8px;
}

.header .personal p:last-child{
  margin-bottom:0;
}

.header ul{
  position: absolute;
  top: 60%;
  right: 2%;
}

@media screen and (max-width:1024px){
  .header ul{
    width: 100%;
    top: 30%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -30%);
  }
}

.header ul li{
  display: flex;
  align-items: center;
  color: white;
  text-shadow: black 1px 5px 5px;
}

@media screen and (max-width:1024px){
  .header ul li {
    justify-content: center;
  }
}

.header ul li:nth-child(2){
  margin: 12px 0;
}

.header ul .pic{
  width: 42px;
  height: 42px;
  margin-right: 12px;
  position: relative;
}

.header ul img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 個人技能區塊 */
.skills_block .skill_type{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px){
  .skills_block .skill_type{
    flex-wrap: wrap;
  }
}

.skills_block .skill_detail{
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20);
  border-bottom: 5px solid #F58D23;
  border-radius: 5px;
  width: 284px;
  height: 276px;
  background-color: #FFFFFF;
  margin: 0 15px;
}

@media screen and (min-width:768px) and (max-width:1024px){
  .skills_block .skill_detail{
    max-width: 284px;
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .skills_block .skill_detail{
    width: 284px;
    margin-bottom: 15px;
  }
}

.skills_block .skill_detail:nth-child(2){
  border-bottom: 5px solid #539E43;
}

.skills_block .skill_detail:nth-child(3){
  border-bottom: 5px solid #6762A6;
}

.skills_block .skill_detail img{
  position: absolute;
  bottom: 172px;
  left: 50%;
  transform: translateX(-50%)
}

.skills_block .skill_detail p{
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  bottom: 123px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.skills_block .skill_detail ul{
  position: absolute;
  width: 220px;
  height: 70px;
  font-size: 14px;
  list-style: disc;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width:1024px){
  .skills_block .skill_detail ul{
    max-width: 220px;
    width: 100%;
    margin-left: 5%;
  }
}

.skills_block .skill_detail li{
  font-size: 12px;
  transform: scale(0.83);
  text-indent: 15px;
  line-height: 14px;
}

/* 個人經歷區塊 */
.experience_block{
  position: relative;
}

.experience_block h2{
  margin: 50px 0 48px;
}

.experience_block .start_dot{
  text-align: center;
  position: relative;
  /*font-size為0下面偽元素才不會有預設空隙*/
  font-size: 0;
}

.experience_block .start_dot::before{
  position: absolute;
  left: 50%;
  top: 697px;
  transform: translateX(-50%);
  width: 46px;
  height: 4px;
  content: '';
  background-color: #D8D8D8;
}

@media screen and (max-width: 600px){
  .experience_block .start_dot::before{
    top: 837px;
  }
}

@media screen and (max-width: 460px){
  .experience_block .start_dot::before{
    top: 1037px;
  }
}

.experience_block .start_dot::after{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 660px;
  content: '';
  background-color: #D8D8D8;
}

@media screen and (max-width: 600px){
  .experience_block .start_dot::after{
    height: 800px;
  }
}

@media screen and (max-width: 460px){
  .experience_block .start_dot::after{
    height: 1000px;
  }
}

/* 時間軸 */
.timeline_item{
  margin-top: 7px;
  /*絕對定位會讓高度消失，設定最小高度撐開*/
  min-height: 136px;
  position: relative;
}

@media screen and (max-width: 600px){
  .timeline_item{
    margin-top: 41px;
  }
}

@media screen and (max-width: 460px){
  .timeline_item{
    margin-top: 91px;
  }
}

.timeline_item:nth-child(3){
  margin-top: 48px;
}

.timeline_item .time_dot_block{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 0;
}

.timeline_item .card{
  max-width: 260px;
  border: 1px solid #FB56BF;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.53px;
  font-weight: bold;
  padding: 8px 10px;
}

.timeline_item.right .card{
  left: 52%;
  margin-left: 10px;
  text-align: left;
} 

.timeline_item.left .card{
  right: 52%;
  margin-right: 10px;
  text-align: right;
} 

.timeline_item .card p:nth-child(1){
  color: #4A4A4A;
  margin-bottom: 10px;
}

.timeline_item .card p:nth-child(2){
  color: #8A1737;
  margin-bottom: 12px;
}

.timeline_item .card p:nth-child(3){
  color: #4A4A4A;
  font-weight: normal;
  margin-bottom: 10px;
}

.timeline_item .card span{
  width: 100%;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #9B9B9B;
  letter-spacing: 0.44px;
  line-height: 18px;
  /* transform: scale(0.83); */
  transform-origin:left top;
  word-wrap:break-word;
}

.timeline_item.left .card span{
  transform-origin:right top;
}

/* 個人作品區塊 */
@media screen and (max-width: 460px){
  .works_block h2{
    margin-top: 220px;
  }
}

.works_block .works_items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.works_items :nth-child(1) .works_img{
  background-color: #424242;
}

.works_items :nth-child(2) .works_img{
  background-color: #FDB4E3;
}

.works_items :nth-child(3) .works_img{
  background-color: #8AD7FA;
}

.works_detail{
  width: 284px;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px 15px;
}

@media screen and (max-width: 768px){
  .works_detail{
    width: 180px;
  }
}

.works_detail a{
  text-decoration: none;
}

.works_detail:hover{
  transition: .2s;
  box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 20%);
}

.works_items .works_img{
  width: 100%;
  height: 150px;
  position: relative;
}

.works_items .works_img img{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*:nth-child須為連續的子物件，空一格代表選擇子元素*/
/* .works_items :nth-child(1) a img{
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
} */

.works_items .works_info{
  padding: 9px 8px;
}

.works_items .works_info p{
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 7px;
}

.works_items .works_info p:nth-child(2){
  color: #4A4A4A ;
  font-weight: normal;
  margin-bottom: 9px;
}

/* 關於我區塊 */
@media screen and (max-width: 460px){
  .about_me_block h2{
    margin-top: 50px;
  }
}

.about_me_block .about_content{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .about_me_block .about_content{
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about_me_block .about_content img{
  width: 260px;
  /* height: 335px; */
  margin-right: 44px;
}

@media screen and (max-width: 768px){
  .about_me_block .about_content img{
    margin-right: 0;
  }
}

.about_me_block .about_content .introduction{
  width: 442px;
  font-size: 14px;
  word-wrap: break-word;
  word-spacing: 0.44px;
  line-height: 26px;
  color: #4A4A4A;
}

@media screen and (max-width: 768px){
  .about_me_block .about_content .introduction{
    margin-top: 15px;
    width: 100%;
    padding: 0 30px;
  }
}

/* 頁尾 */
.footer{
  max-width: 1024px;
  width: 100%;
  margin-top: 74px;
  position: relative;
  font-size: 0;
}

.footer img{
  width: 100%;
}

.footer p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  white-space: nowrap;
}